{% extends 'base.html' %}
{% block menu %}
  <ul>
    <li><a href="/">General</a></li>
    <li><a href="/items/">Items</a></li>
    <li class="active">Add</li>
  </ul>
{% endblock %}
{% block content %}
  <div class="cards">
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/a/a1/Donut_Tapped_Out.png/25px-Donut_Tapped_Out.png" alt="donuts">
        <h1>Donuts</h1>
        <form action="" id="add_donut_form">
        {% csrf_token %}
        <p><input type="number" name="add_donuts" id="quantity_donuts" value='1000'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn" id="add_donuts">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/6/66/Cash.png/25px-Cash.png" alt="cash">
        <h1>Cash</h1>
        <form action="" id="add_cash_form">
        {% csrf_token %}
        <p><input type="number" name="add_cash" id="quantity_cash" value='1000000'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn" id="add_cash">Set</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/1/1a/XP.png/30px-XP.png" alt="Level">
        <h1>Level</h1>
        <form action="" id="add_level_form">
        {% csrf_token %}
        <p><input type="number" name="add_level" id="quantity_level" value='60'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn" id="add_level">Set</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/f/f9/FP_Tapped_Out.png/25px-FP_Tapped_Out.png" alt="friends level">
        <h1>Friends Points</h1>
        <form action="" id="add_friends_points_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="57">
        <p><input type="number" name="amount" id="friends_points" value='1000'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_friends_points" data-form="add_friends_points_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/5/55/Krustyland_Ticket.png/25px-Krustyland_Ticket.png" alt="krustyland ticket">
        <h1>KrustyLand tickets</h1>
        <form action="" id="add_krustyticket_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="11">
        <p><input type="number" name="amount" id="quantity_level" value='9999999'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_krusty_ticket" data-form="add_krustyticket_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/c/cd/Furniture.png/30px-Furniture.png" alt="Furniture">
        <h1>Furniture</h1>
        <form action="" id="add_furniture_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105001">
        <p><input type="number" name="amount" id="funniture" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_furniture" data-form="add_furniture_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/2/2c/Latte.png/30px-Latte.png" alt="latte">
        <h1>Latte</h1>
        <form action="" id="add_latte_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105002">
        <p><input type="number" name="amount" id="latte" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_latte" data-form="add_latte_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/9/91/Pharmaceutical.png/30px-Pharmaceutical.png" alt="pharmaceutical">
        <h1>Pharmaceutical</h1>
        <form action="" id="add_pharmaceutica_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105003">
        <p><input type="number" name="amount" id="pharmaceutica" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_pharmaceutica" data-form="add_pharmaceutica_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/b/be/Smart_Device.png/30px-Smart_Device.png" alt="Smart device">
        <h1>Smart Device</h1>
        <form action="" id="add_smart_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105004">
        <p><input type="number" name="amount" id="smart_device" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_smart_device" data-form="add_smart_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/e/ee/Yoga_Mat.png/30px-Yoga_Mat.png" alt="Yoga mat">
        <h1>Yoga Mat</h1>
        <form action="" id="add_yogamat_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105005">
        <p><input type="number" name="amount" id="yoga_mat" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_yoga_mat" data-form="add_yogamat_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/e/ee/Hollywood_Award.png/30px-Hollywood_Award.png" alt="hollywood award">
        <h1>Hollywood award</h1>
        <form action="" id="add_hollywwod_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105006">
        <p><input type="number" name="amount" id="hollywood" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_hollywood_award" data-form="add_hollywwod_form">Add</button>
      </div>
    </div>
    <div class="item">
      <div class="item_content">
        <img src="https://static.simpsonswiki.com/images/thumb/a/a3/Tapped_Out_AdS.png/30px-Tapped_Out_AdS.png" alt="Ads">
        <h1>Ads</h1>
        <form action="" id="add_ads_form">
        {% csrf_token %}
        <input type="hidden" name="type" value="105007">
        <p><input type="number" name="amount" id="ads" value='100'></p>
        </form>
      </div>
      <div class="item_action">
        <button class="btn btn_spendable" id="add_ads" data-form="add_ads_form">Add</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    jQuery('#add_donuts').click(function(e) {
      e.preventDefault();
      jQuery.ajax({
        url: '/add/donuts/',
        method: 'POST',
        data: jQuery('#add_donut_form').serialize(),
        success: function(data) {
          if (typeof data === 'object') {
            if (data.status == 200 ) {
              pu.show('Success!');
            }else {
              pu.show('Error!');
            }
          }
        }
      })
    });
    jQuery('#add_cash').click(function(e) {
      e.preventDefault();
      jQuery.ajax({
        url: '/add/cash/',
        method: 'POST',
        data: jQuery('#add_cash_form').serialize(),
        success: function(data) {
          if (typeof data === 'object') {
            if (data.status === 200) {
              pu.show('Success!');
            }else {
              pu.show('Error!');
            }
          }
        }
      });
    });
    jQuery('#add_level').click(function(e) {
      e.preventDefault();
      jQuery.ajax({
        url: '/add/xp/',
        method: 'POST',
        data:jQuery('#add_level_form').serialize(),
        success: function(data) {
          if (typeof data === 'object') {
            if (data.status === 200) {
              pu.show('Success!');
            }else{
              pu.show('Error!');
            }
          }
        }
      });
    });
    jQuery('.btn_spendable').click(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/add/spendable/',
        method: 'POST',
        data: jQuery('#' + $(this).data('form')).serialize(),
        success: function(data) {
          if (typeof data === 'object') {
            if (data.status === 200) {
              pu.show('Success!');
            }else {
              pu.show('Error!');
            }
          }
        }
      });
    });
  </script>
{% endblock %}