<html>
  <head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="/static/css/estilos.css">
  </head>
  <body>
    <header>
      <nav>
        {% block menu %}{% endblock %}
      </nav>
      <div class="user">
        <span>{{name}}</span>
      </div>
    </header>
    <div class="body">
      {% block content %}{% endblock %}
    </div>
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <script src="/static/js/utils.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>