{% extends 'base.html' %}
{% block menu %}
  <ul>
    <li class="active">General</li>
    <li><a href="/items/">Items</a></li>
    <li><a href="/add/">Add</a></li>
  </ul>
{% endblock %}
{% block content %}
  <div class="table center">
    <div class="row">
      <div class="title">User</div>
      <div class="txt">{{user}}</div>
    </div>
    <div class="row">
      <div class="title">Level</div>
      <div class="txt">{{data.level}}</div>
    </div>
    <div class="row">
      <div class="title">Experience</div>
      <div class="txt">{{data.experience}}</div>
    </div>
    <div class="row">
      <div class="title">Money</div>
      <div class="txt">{{data.money}}</div>
    </div>
    <div class="row">
      <div class="title">Donuts</div>
      <div class="txt">{{donuts}}</div>
    </div>
  </div>
{% endblock %}